h1 {font-family:Jomhuria; cursive;
    font-size: 80px;
    color: #383b3e
}

p {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 30px;
    color: #383b3e;
}

h2 {
    text-align:center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 50px;
    color: #383b3e;
}

h3{
    font-family: 'Jomhuria', cursive;
    font-size: 50px;
    color: #383b3e;
}

#quote1 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
    color: #383b3e;
}

#quote2 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
    color: #383b3e;
}

#quote3 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 20px;
    color: #383b3e;
}

#quote4 {
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 45px;
    color: #383b3e;
    ]

#navbar {
        text-align:center
        font-family:"Akaya Telivigala", cursive;
        font-size: 30px;
        color: #383b3e;
    }

}

body {
    width: 1200px;
    padding: 20px;
    background-color:#e2dcba;

}

#shakespearehouse
{
text-align:center-left;
height=400px;
width=10%;

}

.mydiv1 {
    text-align: center;
    
}


.mydiv2 {
 border: 1px; 
 text-align: center;  
}

a:hover {
    background-color: #F5F5F5;
}

.mydiv1a {
    font-size: 100px;
    text-align:center;
    margin: auto;
    width: 100%;
    height:100px;
    border: 1px solid black;
    padding: 10px
    
    
}

#annehathawayhome 
{
text-align:center-right;
height:400px;
width:75%;
}

#randj {
text-align: center;

}

.past {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

.backgroundhimg {

    height:auto;
    width:100%;
    background: url('.../workspace/shakespeare-m1/assets/images/readme/globe.jpg') no-repeat center center ;
}

